.env
.env.dev
.env.stage
.env.prod
app/smpa.egg-info/**/*

# Hactar's Fabfile
fabfile/**/*

# Hactar devops
devops/**/*
config.toml

# Misc files
*.scssc
*.pyc
.DS_Store
.notifier/**/*
*.sublime-workspace
.vscode/**/*
**/__pycache__/**/*


# Tests
app/smpa/tests/.cache/**/*
app/coverage/**/*

# Docs & Guide
docs/build/**/*

# Redis data folder
docker/redis/**/*
docker/localstack-data/**/*
docker/mongo/**/*

# MyPy cache
.mypy_cache/**/*
