.env

# Hactar's Fabfile
fabfile/**/*

# Venv packages
web/reqs/.venv
web/smpa/.venv


# Misc files
*.scssc
*.pyc
.DS_Store
*.sublime-workspace
.vscode/**/*
**/__pycache__/**/*


# Tests
web/smpa/app/tests/.cache/**/*


# Docs & Guide
docs/build/**/*


# Postgres Data folder
data/**/*


# Redis data folder
redis/**/*

# MyPy cache
.mypy_cache/**/*
