.env


# Hactar's Fabfile
fabfile/**/*

# Misc files
*.scssc
*.pyc
.DS_Store
.notifier
*.sublime-workspace
.vscode/**/*
**/__pycache__/**/*


# Tests
app/smpa/tests/.cache/**/*


# Docs & Guide
docs/build/**/*

# Redis data folder
docker/redis/**/*

# MyPy cache
.mypy_cache/**/*
