[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
arrow = "*"
cryptography = "*"
envkey = "*"
falcon = "*"
falcon-apispec = "*"
falcon-auth = {extras = ["backend-hawk", "backend-jwt"],version = "*"}
gunicorn = "*"
httpie = "*"
ipython = "*"
inflection = "*"
jsonschema = "*"
konch = "*"
marshmallow = "*"
passlib = {extras = ["bcrypt"],version = "*"}
rethinkdb = "*"
schematics = "*"
schematics-apispec = "*"
simplejson = "*"
slugify = "*"
ujson = "*"
uWSGI = "*"
waitress = "*"
wsgicors = "*"

[dev-packages]
pdbpp = "*"
ipdb = "*"
mixer = "*"
pytest = "*"
pytest-cov = "*"
pytest-falcon = "*"
pytest-sugar = "*"
pytest-variables = {version = "*",extras = ["hjson"]}

[requires]
python_version = "3.6"
